<!-- Metas -->
<meta charset="utf-8">

<!-- Title -->
<title>{{#if title}}{{title}}{{else}}Title{{/if}}</title>

<!--[if lt IE 8]>
<script src="{{assets}}js/libs/html5shiv.js"></script>
<script src="{{assets}}js/libs/h5f.js"></script>
<![endif]-->

<!-- Styles -->
<link rel="stylesheet" href="{{assets}}css/styles.css">